* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #f5f5f5;
  width: 100%;
  margin-bottom: 50px;
  position: fixed;
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 10px rgb(56, 55, 55);
  z-index: 2;
}

header img {
  width: 20%;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

nav a {
  cursor: pointer;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 0.2em 0;
  color: #535a53;  
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(13, 170, 100);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

nav a:hover::after,
nav a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

nav, ul {
  list-style: none;
}


.hero {
  background-image: url(images/PontePB.png);
  background-position: center center;
  min-height: 100vh;
  padding-top: 50px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  padding: 5px;
  gap: 8%;
  color: #0248ca;
  margin-top: 50px;
}

.hero h1 {
  width: 80%;
  font-size: 70px;
  margin-bottom: 15px;
  padding: 20px;
  background: -webkit-linear-gradient( #0248ca, rgb(13, 170, 100));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content h3 {
  width: 60%;
  font-size: 50px;
  margin-bottom: 30px;
  color: #535a53;
  font-weight: 700;
}

.hero-content img {
  transform: scale(1.5);
}

.about {
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.about_content{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  padding: 5px;
  gap: 5%;
}

span {
  color: rgb(7, 114, 66);
}

.about h3 {
  font-size: 50px;
  margin-bottom: 35px;
  text-align: center;
  color: rgb(7, 114, 66);
}

.about p {
  max-width: 900px;
  margin-bottom: 35px;
  text-align: justify;
  color: rgb(32, 32, 32);
  font-size: 20px;
}


.participar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 50px;
  align-items: center;
  width: 100%;
}

.participar_content {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  align-items: center;
  gap:5%;
}

.participar h3 {
  color: rgb(7, 114, 66);
  font-size: 50px;
  margin-bottom: 35px;
  text-align: center;
}

.participar p {
  font-size: 20px;
  color: rgb(32, 32, 32);
  font-weight: 700;
}

.left_content {
  width: 50%;
}

form {
  width: 50%;
  padding: 10px;
}

form label {
  font-size: 18px;
  color: #0248ca;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
}

form input, form textarea{
  font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 20px;
  font-weight: 600;
	margin: 0;
	outline: 0;
	padding: 7px;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 5px;
	width: 70%;
}

form input:focus, form textarea:focus {
  border: 1px solid rgb(7, 114, 66);
}

.inputBtn {
  padding: 10px;
  background-color: #0248ca;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 5px;
  width: 70%;
}

.inputBtn:hover {
  background-color: rgb(13, 170, 100);
  transition: 0.5s;
}


.participar p {
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
}

.participar hr {
  width: 200px;
  height: 2px;
  margin-bottom: 70px;
  border: none;
}

.participar .grid {
  display: flex;
}

.participar .grid li {
  padding: 0 50px;
  text-align: center;
}

.participar .grid li i {
  color: #0248ca;
  font-size: 80px;
  margin-bottom: 30px;
}

.participar .grid li h4 {
  font-size: 25px;
  color: #0248ca;
  margin-bottom: 30px;
}

.flex-container {
  display: flex;
}

.flex-item{
  align-items: flex-start; /*alinhar items por cima*/
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

footer h3 {
  color: rgb(7, 114, 66);
  font-size: 30px;
  margin-bottom: 35px;
  font-weight: 700;
}

.icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  gap: 10%;
}

.icons li i {
  color: rgb(7, 114, 66);
  font-size: 40px;
}

footer p {
  text-align: center;
  font-size: 20px;
  color: rgb(32, 32, 32);
  font-weight: 700;
}

footer p:nth-child(4) {
  font-weight: 400;
  color: rgb(56, 56, 56);
}

@media screen and (max-width: 800px) {

  header {
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }

  #menu {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    cursor: pointer;
    background-color: transparent;
    transform: scale(1.5);
  }

  .menuNavOn,
  .menuNavOff {
    background-color: #a1a2a3;
    border-radius: 0 0 10px 10px;
    flex-direction: column;
    position: absolute;
    top: 0%;
    right: 0;
    padding: 10% 5%;
    width: 40%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;    
    transition: 1s;
    animation: ease-in-out;
  }
  
  .menuNavOn {
    transform: translateX(0);
  }

  .menuNavOff {
    transform: translateX(100%);
  }

  .menuNavOn a,
  .menuNavOff a {
    background-color: #a1a2a3;
    color: white;
  }

  nav a {
    font-size: 15px;
  }

  .hero-content {
    flex-direction: column;
  }

  .hero-content img {
    transform: scale(1);
  }

  .hero h1 {
    font-size: 30px;
  }
  
  .hero h3 {
    font-size: 20px;
  }

  .about {
    padding: 20px 5px;
  }

  .about_content {
    flex-direction: column;
  }

  .about h3 {
    font-size: 30px;
  }

  .participar {
    padding: 20px 5px;
  }

  .participar_content {
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
  
  .left_content {
    width: 100%;
  }

  form {
    padding: 5px 10px;
    text-align: start;
    width: 100%;
  }

  form label {
    font-size: 15px;
    width: fit-content;
  }
  
  form input, form textarea{
    font-size: 15px;
    width: 100%;
  }

  .inputBtn {
    width: 100%;
  }

  .icons {
    width: 60%;
    padding-left: 0rem;
    margin-bottom: 50px;
  }

  .icons li {
    padding-left: 0rem;
    text-align: center;
    max-width: 90%;
  }

  footer h3 {
    text-align: center;
    max-width: 90%;
  }

  footer p {
    text-align: center;
    font-size: 15px;
    max-width: 90%;
  }
  
}
